:root {
  --button-width: 150px;
  --button-padding: 10px 20px;
  --button-margin: 0 15px;
  --button-border-radius: 5px;
}

.card {
  height: 250px;
  background: #ffffff4a;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  display: grid;
}

.title {
  text-align: center;
  color: white;
  margin: 0;
}

.btn {
  border: none;
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: var(--button-margin);
  width: var(--button-width);
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.success {
  background-color: #2fcf6f;
}

.error {
  background-color: #e10000;
}

.info {
  background-color: #204b90;
}

.warning {
  background-color: #ffb800;
}

@media screen and (max-width: 600px) {
  /* Add responsive styles here */
  .card {
    height: auto;
  }

  .btn {
    width: 100%;
    margin: 10px 0;
  }
  .buttons {
    display: grid;
  }
}

